header#main-header {
    width: 100%;
    height: 60px;
    font-size: 18px;
    background: #084d6e;
    font-weight: bold;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;

}